<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 별명 설정 -->
		<typeAlias alias="auctionUser" type="com.cto.auction.vo.auctionUser.AuctionUser"/>
		<typeAlias alias="AuctionItem" type="com.cto.auction.vo.auctionItem.AuctionItem"/>
	</typeAliases>
</configuration>
	